
@import url(https://fonts.adobe.com/fonts?browse_mode=default&cc=true&hide_images=true&languages=es&locale=es-ES&max_styles=26&min_styles=1&promoid=KRUVR&tag=clean);

.logo{
    width: 80px;
    height: 80px;
    margin-left: 40px;
    margin-right: 60px;
    padding-bottom: 5px;
}
.color {
    background-color: black;
}



ul, a, li{
    list-style-type: none;
    text-decoration: none;
    color: white;
    margin-bottom: 15px;
}

.footer {
    position: relative;
    background-color: #111112;
    color: #fff;
    padding: 20px 0;


}

.pie{
    background-color: #111112;;
    color: #fff;
    text-align: center;
    padding: 15px;
}



.borde{
  border-right: 1px solid #f2eeee; /* Grosor y color del borde */
  
}
/* Estilo para la línea divisoria vertical */



.menu{
    position: relative;
    display: flex;
    justify-content: space-around;

}

.menu .card{
    position: relative;
    width: 250px;
    background-color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 330px;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    transition: 0.4s;
    margin-top: 2px;
}

.menu .card:hover {
    transform: translateY(-21px);
    box-shadow: 0 15px 35px black;
}

.menu .card.before{
    content:'';
    position: absolute;
    top: 0;
    left: -50;
    width: 100%;
    background-color: rgb(41, 37, 93);
    pointer-events: none;
    z-index: 1;
}

.porcent{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.porcent .number h2{
    color: black;
    font-weight: 600;
    font-size: 35px;
    transition: 0.5s;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.card:hover .porcent .number h2{
    color: black;
    font-size: 60px;
}


.text {
    position: absolute;
    color: #0f0f1a;
    margin-top: 250px;
    font-weight: 900;
    font-size: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: 0.5s;
}

svg{
    position: absolute;
    width: 150px;
    height: 150px;
    transform: rotate(-85deg)!important;
}

svg circle{
    width: 100%;
    height: 100%;
    fill:none;
    stroke: rgb(0, 115, 255);
    stroke-width: 10;
    stroke-linecap: round !important;
    transform: translate(5px,5px);
}

.card:nth-child(1) svg circle:nth-child(2){
    stroke-dashoffset: calc(440 - (440 * 10)/100);
    stroke: rgb(255,0,0);
}
.card:nth-child(2) svg circle:nth-child(2){
    stroke-dashoffset: calc(440 - (440 * 20)/100);
    stroke: rgb(255,0,0);
}
.card:nth-child(3) svg circle:nth-child(2){
    stroke-dashoffset: calc(440 - (440 * 30)/100);
    stroke: rgb(255,0,0);
}
.card:nth-child(4) svg circle:nth-child(2){
    stroke-dashoffset: calc(440 - (440 * 40)/100);
    stroke: rgb(255,0,0);
}



